// Mixins in here

.custom-btn(@width: 80%; @background-color: #17A2B8; @btn-font-color:#FFFFFF){
    display: block;
    padding-top: 5%;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    text-align: center;
    width: @width;
    background-color: @background-color;
    color: @btn-font-color;
}

.btn {
    .custom-btn(80%; @button-bg; @main-bg);
}